In [1]:
import pandas as pd
import numpy as np

In [2]:
clay = pd.read_csv("clay.csv")
sand = pd.read_csv("sand.csv")
silt = pd.read_csv("silt.csv")

In [5]:
clay

       Unnamed: 0          0
0     CA236SA0279  27.569168
1     CA236SA0280  22.948435
2     CA236SA0281  14.565222
3     CA236SA0282  37.740500
4     CA236SA0283  38.161034
...           ...        ...
997   CA236SA1279  49.372112
998   CA236SA1280  47.368027
999   CA236SA1281  69.889470
1000  CA236SA1282  68.784730
1001  CA236SA1283  63.876102

[1002 rows x 2 columns]

In [6]:
combs_sample_code = clay['Unnamed: 0']

In [7]:
combs_psa = pd.DataFrame()

In [8]:
combs_psa['sand'] = sand['0']
combs_psa['clay'] = clay['0']
combs_psa['silt'] = silt['0']
combs_psa['sum_psa'] = sand['0'] + clay['0'] + silt['0']

In [9]:
combs_psa

           sand       clay       silt    sum_psa
0     45.869820  27.569168  23.548487  96.987475
1     59.092220  22.948435  17.605011  99.645666
2     70.467636  14.565222  14.763381  99.796239
3     48.640240  37.740500  13.342650  99.723390
4     43.473892  38.161034  15.619398  97.254324
...         ...        ...        ...        ...
997   32.807300  49.372112  15.406889  97.586301
998   37.279070  47.368027  13.899653  98.546750
999   16.146902  69.889470  12.776826  98.813198
1000  15.456429  68.784730  14.257312  98.498471
1001  18.783424  63.876102  14.541251  97.200777

[1002 rows x 4 columns]

In [10]:
for col in combs_psa.columns:
    if col =='sum_psa':
        pass
    else:
        combs_psa[col] = (combs_psa[col]/combs_psa['sum_psa']) * 100
        
combs_psa.drop('sum_psa', axis=1, inplace=True)

In [11]:
combs_psa['sand'] + combs_psa['clay'] + combs_psa['silt']

0       100.0
1       100.0
2       100.0
3       100.0
4       100.0
        ...
997     100.0
998     100.0
999     100.0
1000    100.0
1001    100.0
Length: 1002, dtype: float64

In [12]:
combs_psa['sample_code'] = combs_sample_code

In [13]:
combs_psa.to_csv("psa.csv")